# Setting active_polling to true will set the application to run an event loop.
# If you would rather it not do that, keep it false and use cron.
active_polling: 1

# Available levels: debug, info, warn, error, fatal
log_level: debug

processors:
    - source:      HG612
      destination: InfluxDB

destinations:
    InfluxDB:
        # Required config:
        address: my.influxdb.server:8086

        # Optional config:
        scheme:   http
        #username: myuser
        #password: mypasswd

sources:
    HG612:
        # All config items are required:
        username: admin
        password: admin
        address:  192.168.1.1

        # Data injest location
        influxdb_database: hg612

